# vim droppings
.*.swp

# terraform state. don't commit secrets!
terraform.tfstate
terraform.tfstate.backup

# terraform provider/module downloads etc
.terraform
terraform.d

# terraform crash logs (easy to generate when hacking on providers!)
crash.log

# binaries
/cloudyipam
/terraform-provider-cloudyipam
/text2go

# linux binaries
/cloudyipam.linux
/terraform-provider-cloudyipam.linux

# generated .go files
cmd/cloudyipam/sqltext/

# goreleaser build droppings
dist/
